<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.madran.mobiltest"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Huseyin Emin</name>

  <description>
      Mobil uygulama deneme
  </description>

  <author href="https://www.youtube.com/" email="bascoban15@gmail.com">
      saddsadsadsa
  </author>
    
  <icon src="icon.png" />

</widget>