body {
  margin:0px;
}
header {
  width:405px;
  height:80px;
  background-color:#FFB90F;
}
main {
  border-radius:50px;
  border:5px solid #FFB90F;
  margin-top:50px;
  margin-left:2%;
  width:405px;
  height:350px;
  background-color:White;
}
aside{
	display:none;
  border-radius:10px;
  width:120px;
  height:400px;
  border:0px solid #FFB90F;
  background-color: #FFB90F;
  float:left;
  margin-left:40px;
}
footer{
  margin-top:50px;
  background-color:#FFB90F;
  width:405px;
  height:110px;
  float:clear;
}
ul.menu {
	display:none;
  border:1px solid #FFB90F;
  border-radius:20px;
  margin-top:20px;
  margin-left:308px;
  width:714px;
  height:60px;
  background-color:#FFB90F;
}
ul.menu >li {
  float: left;
  position: relative;
}
ul.menu >li >a {
  display:block;
  font-size:18px;
  color:#fff;
  padding:0 15px;
  line-height:50px;
  border-right: 1px solid rgba(0,0,0,.1);
}
ul.menu ul {
  background:#FFB90F;
  width:155px;
  position: absolute;
  top:30px;
  left: 0;
  opacity:0;
  transition:250ms all;
  visibility:hidden;
}
ul.menu ul li a {
  display:block;
  padding:7px 0px;
  color:#fff;
}
ul.menu >li:hover ul {
  opacity:1;
  top:50px;
  visibility:visible;
}
ul.menu li:hover{
  background-color:#fff;
}
ul.menu li a:hover{
  color:#FFB90F;
}
* {
  list-style:none;
}
a{
  text-decoration: none;
}
button{
  outline:none;
  border-radius:8px;
  border:2px solid black;
  background-color:#FFB90F;
}
button:hover{
  background-color:#fff;
  cursor: pointer;
}
input {
	outline:none;
	background-color:white;
	border:0px solid white;
}
span{
	margin-top:50px;
	margin-left:200px;
	display:none;
}
.baslik {  /* başlık*/
	padding-top:15px;
	margin-top:0;
	margin-left:540px;
	color:white;
	float:left;
}
.reklam {
  border-radius:10px;
  width:120px;
  height:400px;
  border:0px solid #FFB90F;
  background-color: #FFB90F;
  float:left;
  margin-left:1120px;
}
.giris{
	margin-top:10px;
	margin-left:20px;
}
.gizle:hover{
  background-color:#fff;
  cursor: pointer;
}
.gizle{
	margin-top:10px;
	margin-left:20px;
	margin-right:8px;
	display:none;
	border-radius:8px;
	border:2px solid black;
	background-color:#FFB90F;
	float:left;
}
.gizle2{
	margin-top:10px;
	display:none;
	margin-left:20px;
}